body {
    font-family:  "Montserrat", serif;
    background-color: #D89C76;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    background-color: white;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    gap: 20px;
}

h2 {
    color: #702B1B;
}

.input-group {
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #702B1B;
    border-radius: 5px;
}

button {
    background-color: #702B1B;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}
